<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>배최성 표준 html </title>
  <link rel="stylesheet" href="/css/signUp/signUp.css">
  <link rel="stylesheet" href="/css/signUp/header.css">
  <link rel="stylesheet" href="/css/signUp/footer.css">
</head>
<body>
  
  <header>
    BCS ACCOUNT | 배최성 계정관리
  </header>
  <main>
    <section class="left-section">
    </section>
    <section class="main-section">
      
      

    <div  class="login-box"> 
      <div style="text-align: center; font-size: 30px;">하나의 계정으로,<br>세상의 중고폰을 내손에!<br>나의 배최성 계정에<br>로그인하세요!</div>

      <form>
          <div class="input-group-login">
              <input type="text" placeholder="아이디">
          </div>
          
          <div class="input-group-login">
              <input type="password" placeholder="비밀번호">
          </div>
        
        <div class="options">
            <label>
                <input type="checkbox">
                아이디저장
            </label>
        </div>
        
        <button type="submit" class="loginBtn">로그인</button>
        
        <div class="links">
            <a href="#">아이디 찾기</a> | <a href="#">비밀번호 찾기</a>
        </div>
    </form>
        
       
    </div>


    </section>
    <section class="right-section">
    </section>
  </main>
  <footer>
    푸터
  </footer>

</body>
</html>