<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase History</title>
    <link rel="stylesheet" href="/css/signUp/signUp.css">
    <link rel="stylesheet" href="/css/signUp/header.css">
    <link rel="stylesheet" href="/css/signUp/footer.css">
</head>
<body class="orderHistoryBody">
  <header>
    BCS ACCOUNT | 배최성 계정관리
  </header>
  <main>
    <section class="left-section">
    </section>
    <section class="main-section">

    <div class="container">
        <h2>포인트 내역</h2>
        <div class="point-mid">
          <img class="point-icon" src="/images/points.png" alt="">
          <h3>나의 포인트 : 20,000P</h3>
        </div>
        <table>
            <thead>
                <tr>
                    <th>적립/차감내용</th>
                    <th>적립/차감일시</th>
                    <th>포인트</th>
                    <th>총 포인트</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>휴대폰 구매 포인트</td>
                    <td>24.11.08</td>
                    <td>+12,000P</td>
                    <td>20,000P</td>
                </tr>
                <tr>
                    <td>배송비차감</td>
                    <td>24.11.05</td>
                    <td>-2,000P</td>
                    <td>8,000P</td>
                </tr>
                <tr>
                    <td>회원가입 축하포인트</td>
                    <td>24.11.01</td>
                    <td>+10,000P</td>
                    <td>10,000P</td>
                </tr>

                <!-- Add more rows as needed -->
            </tbody>
        </table>
        <div class="pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
        </div>
    </div>

  </section>
  <section class="right-section">
  </section>
</main>
<footer>
  푸터
</footer>
</body>
</html>