<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>배최성 표준 html </title>
  <link rel="stylesheet" href="/css/signUp/signUp.css">
  <link rel="stylesheet" href="/css/signUp/header.css">
  <link rel="stylesheet" href="/css/signUp/footer.css">
</head>
<body>
  
  <header>
    BCS ACCOUNT | 배최성 계정관리
  </header>
  <main>
    <section class="left-section">
    </section>

    <section class="main-section">
       
      

    <!-- Main Content -->
    <main class="main-content">
      <h1 class="title"><i class="icon"></i> 마이페이지</h1>
  </main>

   <!-- Icons Section -->
   <div class="icon-grid">
    <div class="icon-item">
        <img src="/images/phone-icon.png" alt="내정보 수정">
        <span>내정보 수정</span>
    </div>

    <div class="icon-item">
        <img src="/images/transaction-history.png" alt="거래내역">
        <span>거래내역</span>
    </div>

    <div class="icon-item">
        <img src="/images/purchase-history.png" alt="구매내역">
        <span>구매내역</span>
    </div>

    <div class="icon-item">
        <img src="/images/inquiry.png" alt="1대1 문의">
        <span>1대1 문의</span>
    </div>

    <div class="icon-item">
        <img src="/images/points.png" alt="포인트 사용 내역">
        <span>포인트 사용 내역</span>
    </div>
    
</div>

    </section>
    <section class="right-section">
    </section>
  </main>
  <footer>
    푸터
  </footer>

</body>
</html>