<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>배최성 표준 html </title>
  <link rel="stylesheet" href="/css/signUp/signUp.css">
  <link rel="stylesheet" href="/css/signUp/header.css">
  <link rel="stylesheet" href="/css/signUp/footer.css">
</head>
<body>
  
  <header>
    BCS ACCOUNT | 배최성 계정관리
  </header>
  <main>
    <section class="left-section">
    </section>
    <section class="main-section">
      
      

    <div  class="mypageUpdate-box"> <!-- 개인정보수정 박스 -->
        <div class="mypageUpdate-title">내정보 수정</div><br>

        <form>
          <div class="update-group-1">
              <label for="passwordUpdate">비밀번호수정</label>
              <input type="password" id="passwordUpdate" placeholder="현재 비밀번호를 입력해주세요.">
          </div>

          <div class="update-group-1">
              <label for="newPassword">새 비밀번호</label>
              <input type="password" id="newPassword" placeholder="변경하시는 비밀번호를 입력해주세요.">
          </div>

          <div class="update-group-1">
              <label for="nicknameChange">닉네임</label>
              <input type="text" id="nicknameChange" placeholder="변경하고 싶은 닉네임을 입력해주세요.">
          </div>

          <div class="update-group">
              <label for="addressChange">주소</label>
              <input type="text" id="zipcode" placeholder="우편번호">
              <button type="button" class="btn-address">검색</button>
              <input type="text" id="road-address" placeholder="도로명 / 지번주소">
              <input type="text" id="detail-address" placeholder="상세 주소">
          </div>

          <div class="btn-container">
            <button type="submit" class="signup-button-update">회원정보 수정</button>
            <button type="text" class="signup-button-delete">취소</button>
          </div>
      </form>
        
       
    </div>


    </section>
    <section class="right-section">
    </section>
  </main>
  <footer>
    푸터
  </footer>

</body>
</html>