<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase History</title>
    <link rel="stylesheet" href="/css/signUp/signUp.css">
    <link rel="stylesheet" href="/css/signUp/header.css">
    <link rel="stylesheet" href="/css/signUp/footer.css">
</head>
<body class="orderHistoryBody">
  <header>
    BCS ACCOUNT | 배최성 계정관리
  </header>
  <main>
    <section class="left-section">
    </section>
    <section class="main-section">

    <div class="container">
        <h2>판매내역</h2>
        <div class="search-bar">
            <input type="text" placeholder="검색어를 입력해주세요.">
            <button>검색</button>
        </div>
        <table>
            <thead>
                <tr>
                    <th>날짜</th>
                    <th>휴대폰</th>
                    <th>등급</th>
                    <th>판매 상태</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>24. 11. 11</td>
                    <td>아이폰4s</td>
                    <td>S+급</td>
                    <td>입금완료</td>
                </tr>
                <tr>
                    <td>24. 11. 08</td>
                    <td>아이폰4s</td>
                    <td>S+급</td>
                    <td>입금중</td>
                </tr>
                <tr>
                    <td>24. 11. 05</td>
                    <td>아이폰4s</td>
                    <td>S+급</td>
                    <td>검수완료</td>
                </tr>
                <tr>
                    <td>24. 11. 01</td>
                    <td>아이폰4s</td>
                    <td>S+급</td>
                    <td>검수중</td>
                </tr>

                <!-- Add more rows as needed -->
            </tbody>
        </table>
        <div class="pagination">
            <a href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
        </div>
    </div>

  </section>
  <section class="right-section">
  </section>
</main>
<footer>
  푸터
</footer>
</body>
</html>