<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>배최성 표준 html </title>
  <link rel="stylesheet" href="/css/signUp/signUp.css">
  <link rel="stylesheet" href="/css/signUp/header.css">
  <link rel="stylesheet" href="/css/signUp/footer.css">
</head>
<body>
  
  <header>
    BCS ACCOUNT | 배최성 계정관리
  </header>
  <main>
    <section class="left-section">
    </section>
    <section class="main-section">
      
      

    <div  class="signup-box"> <!-- 회원가입 박스 -->
        <div>회원가입</div>
        
        <div>
          <button class="signup-button">계정 만들기</button>
        </div>
    </div>


    </section>
    <section class="right-section">
    </section>
  </main>
  <footer>
    푸터
  </footer>

</body>
</html>