<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>배최성 표준 html </title>
  <link rel="stylesheet" href="/css/signUp/signUp.css">
  <link rel="stylesheet" href="/css/signUp/header.css">
  <link rel="stylesheet" href="/css/signUp/footer.css">
</head>
<body>
  
  <header>
    BCS ACCOUNT | 배최성 계정관리
  </header>
  <main>
    <section class="left-section">
    </section>
    <section class="main-section">
      
      

    <div  class="signup-box"> <!-- 회원가입 박스 -->
        <div>배최성 계정 만들기</div><br>

        <div>
          <p class="account">
           
            서비스 약관<br><br>

            <br>
            공지 일자 : 2024년 11월 8일<br><br>
            
            환영합니다. <br><br>
            
            저희 배최성홈페이지를 이용해주셔서 감사합니다. <br><br>
            
            약관 동의 및 수정 <br><br>
            
            배최성 계정을 만들거나, 서비스를 다운로드하거나, 서비스를 사용하는 것은 본 약관에 동의한 것과 같으니
            서비스를 이용하기 전에 자세히 읽어보세요 <br><br>
            
            거주 국가에서 법률상 미성년자가 아니거나,<br>
            부모 또는 법정대리인에 의해 권한을 받은 사람으로서, 거주 국가에 적용되는 준거법에 의해 서비스 이용이 금지되지 않은 사람. <br>
            미성년자는 배최성계정을 생성 및 사용하기 위하여 부모 또는 법정대리인의 동의를 받아야합니다. 일부 서비스에 대해서는 미성년자에 대해 가입 또는 사용이 일부 제한될 수 있습니다. <br><br>
            
            서비스 변경 및 종료 <br><br>
            
            배최성에 의한 서비스 변경 <br><br>
            
            사용자에 의한 해지 | 배최성 홈페이지는 사용자가 사용하고 싶지 않다면 간단한 절차를 거쳐 탈퇴서비스가 가능합니다.  <br><br>
            
            사용자 매너 | 배최성 서비스를 이용하면서 사용자와 운영자 상호간의 매너를 통하여 건전한 휴대폰 거래 서비스가 활성화 되었으면 좋겠습니다. <br><br>
             
          
          </p>
        </div>

        <div>
          <button class="signup-button-agree-confirm">약관확인</button>
        </div>
    </div>


    </section>
    <section class="right-section">
    </section>
  </main>
  <footer>
    푸터
  </footer>

</body>
</html>