<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>배최성 표준 html </title>
  <link rel="stylesheet" href="/css/signUp/signUp.css">
  <link rel="stylesheet" href="/css/signUp/header.css">
  <link rel="stylesheet" href="/css/signUp/footer.css">
</head>
<body>
  
  <header>
    BCS ACCOUNT | 배최성 계정관리
  </header>
  <main>
    <section class="left-section">
      레프트 섹션
    </section>
    <section class="main-section">
      
      

    <div  class="signup-box"> <!-- 회원가입 박스 -->
        <div>배최성 계정 만들기</div>

        <div>
          <p class="account">
          <br><br><br><br>
          아래 항목을 확인해 주세요.
          <br>
          <br>
          <input type="checkbox">이용약관</input>
          <br>
          &nbsp;&nbsp;&nbsp;<u class="accountDetail">자세히보기</u>
          <br><br><br>
          <input type="checkbox">특별약관</input>
          <br>
          &nbsp;&nbsp;&nbsp;<u class="accountDetail">자세히보기</u>
          <br><br><br>
          <input type="checkbox">개인정보 수집 및 이용</input>
          <br>
          &nbsp;&nbsp;&nbsp;<u class="accountDetail">자세히보기</u>
          <br><br><br>
          <input type="checkbox">광고와 마케팅을 위한 내 개인정보 수집 및 이용에 동의합니다.(선택)</input>
          <br>
          &nbsp;&nbsp;&nbsp;<u class="accountDetail">자세히보기</u>
          <br><br><br><br>
          <input type="checkbox">위 내용을 모두 읽었으며 이에 동의합니다.</input>
          
          </p>
        </div>

        <div>
          <button class="signup-button-agree">동의</button>
        </div>
    </div>


    </section>
    <section class="right-section">
      라이트 섹션
    </section>
  </main>
  <footer>
    푸터
  </footer>

</body>
</html>