<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결한 Mapper 인터페이스 파일 경로작성(플수) -->
<mapper namespace="edu.kh.demo.mapper.TestMapper">
	
	<!-- 사용자 이름조회 -->
	<select id="selectUserName"
			parameterType="_int"
			resultType="string">
	
		SELECT USER_NAME
		FROM TB_USER
		WHERE USER_NO = #{userNo}
	</select>

</mapper>
