<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<!-- 연결한 Mapper 인터페이스 파일 경로작성(플수) -->
<mapper namespace="edu.kh.demo.mapper.TestMapper">
	
	<!-- 
		** <select>태그에서 사용할 수 있는 속성 **
		
		- parameterType : 전달 받은 "값" 의 자료형
		
		- resultType    : 조회된 결과 "행" 의 자료형
		
		(중요!)
		자료형 작성시
		- 기본 자료형 : mybatis 제공 별칭사용
		
		- 참조형(클래스) :
			mybatis 제공별칭
				또는
			패키지명 + 클래스명
				또는
			사용자 지정별칭
	 -->
	 
	 <!-- 
	 	** <insert>, <update>, <delete> 태그에서 사용할 수 있는 속성
	 	
	 	- parameterType : 전달받은 "값"의 자료형
	 	
	 	* resultType 없음 !!!
	 	-> 왜? 결과가 무조건 int 타입이니까!!
	 		(안적어도 암묵적으로 int)
	 
	  -->
	
	<!-- 사용자 이름조회 -->
	<select id="selectUserName"
			parameterType="_int"
			resultType="string">
	
		SELECT USER_NAME
		FROM TB_USER
		WHERE USER_NO = #{userNo}
	</select>

	<!-- 
		마이바티스는 조회된 컬럼명과
		결과를 담으려는 DTO 필드명이 같을경우
		자동으로 값을 담아줄 수 있다!!!
		
		그런데... USER_NO, userNo 이렇게 형태가 달라서
		원래는 자동으로 담을 수 없지만,
		mybatis-config.xml에 작성된
		mapUnderscoreToCamelCase 때문에가능해짐~!
	 -->		
		
 	<!-- 사용자 전체 조회 -->
 	<select id="selectAll"
 			resultType="edu.kh.demo.dto.UserDto">
 		SELECT 
			USER_NO,
			USER_ID,
			USER_PW,
			USER_NAME,
			TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') ENROLL_DATE
		FROM TB_USER
		ORDER BY USER_NO ASC
 	</select>
	
	<!-- userNo가 일치하는 사용자 조회 -->	
	<!-- resultType으로 별칭사용(DBConfig 참고) -->
	<select id="selectUser"
			parameterType="_int"
			resultType="UserDto">
	
		SELECT 
			USER_NO,
			USER_ID,
			USER_PW,
			USER_NAME,
			TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일"') ENROLL_DATE
		FROM TB_USER
		WHERE USER_NO = #{userNo}
	</select>
	
	<!-- 사용자 정보 수정 -->
	<!-- 
		- parameterType에 userDto(별칭) 사용
		
		- 전달받은 파라미터가 DTO 또는 MAP인 경우
		  SQL에 필드명 또는 key 값을 작성하면 된다!!
	 -->
	<update id="updateUser"
			parameterType="UserDto">
			
		UPDATE TB_USER
		SET
			USER_PW = #{userPw},
			USER_NAME = #{userName}
		WHERE
			USER_NO = #{userNo}
	</update>
	
	<!-- 사용자 삭제 -->
	<delete id="deleteUser" parameterType="_int">
		DELETE
		FROM TB_USER
		WHERE USER_NO = #{userNo}
	</delete>

	<!-- 사용자 추가화면으로 전환 -->
	<insert id="insertUser" parameterType="userDto">
		INSERT INTO TB_USER
		VALUES(SEQ_USER_NO.NEXTVAL, #{userId}, #{userPw}, #{userName}, DEFAULT)
		
	</insert>
	
</mapper>








































