<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >


<mapper namespace="edu.kh.project.fileUpload.mapper.FileUploadMapper">


	<!-- 파일 1개정보 DB에 삽입 -->
	<insert id="fileInsert">
	
		INSERT INTO "TB_FILE_TEST"
		VALUES(SEQ_FILE_NO.NEXTVAL,
		#{fileOriginalName},
		#{fileRename},
		#{filePath},
		DEFAULT
		)
	
	</insert>
	
	<!-- 파일목록조회 -->
	<select id="selectFileList" resultType="FileDto">
		SELECT
			FILE_NO,
			FILE_ORIGINAL_NAME,
			FILE_RENAME,
			FILE_PATH,
			TO_CHAR(UPDATE_DATE, 'YYYY-MM-DD HH24:MI:SS') UPDATE_DATE
		FROM "TB_FILE_TEST"
		ORDER BY FILE_NO DESC
	</select>

  
</mapper>
