<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>고객(Costomer) 추가</title>
  <link rel="stylesheet" href="../static/css/jmtjmc.css">
</head>
<body>
  <!-- <h1>고객 추가</h1>

  <form action="/customer/insertCustomer" method="POST">

    이름 : <input type="text" name="customerName"> <br>
    전화번호 : <input type="text" name="customerTel"> <br>
    주소 : <input type="text" name="customerAddress"> <br>

    <button>추가</button> -->
    <header>
      <a href="#">메인 페이지</a>
      <a href="#">점메추</a>
      <a href="#">공지사항</a>
      <a href="#">FAQ</a>
  </header>

  <div class="container">
      <h1>이 가게를 추천하시겠어요?</h1>
      <textarea class="review-box" placeholder="리뷰 본문 내용"></textarea>
      
      <div class="like-button">
          <button>좋아요 버튼</button>
      </div>

      <button class="register-btn">등록</button>
  </div>

  <button class="scroll-up">↑</button>
</body>
</html>