section{  
  border: 1px solid black; 
}


html, body, main {
  width: 1600px;
  height: 100%;
  margin: 0 auto;
}

body {
  background-color: var(--main-gray-color);
}

.signup-box {
  margin-top: 15%;
  width: 60%;
  height: 70%;
  padding: 40px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.account{
  font-size: 12px;
  text-align: left;
}


.signup-box div{
  text-align: center;
  font-size: 40px;
  color: var(--font-color);
}

/* 회원가입버튼 */
.signup-button {
  margin-top: 440px;
  width: 300px;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  background-color: var(--main-gray-color);
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* 약관동의버튼 */
.signup-button-agree{
  margin-top: 120px;
  width: 300px;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  background-color: var(--main-gray-color);
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

/* 약관확인버튼 */
.signup-button-agree-confirm{
  margin-top: 40px;
  width: 300px;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  background-color: var(--main-gray-color);
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.signup-button:hover {
  background-color: #bcbcbc; /* 버튼에 마우스를 올렸을 때 색상 변화 */
}

.signup-button-agree:hover {
  background-color: #bcbcbc; /* 버튼에 마우스를 올렸을 때 색상 변화 */
}

.signup-button-agree-confirm:hover {
  background-color: #bcbcbc; /* 버튼에 마우스를 올렸을 때 색상 변화 */
}



/* 자세히보기버튼 */
.accountDetail{
  cursor: pointer;
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

/* 회원가입 css */

.signup-box-confirm {
  margin-top: 15%;
  width: 40%;
  height: 80%;
  padding: 40px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.input-group {
  display: flex;
  width: 300px;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin-bottom: 10px;
}

label {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] 
input[type="phoneNumber"] 
{
  width: 102%;
  padding: 10px;
  margin-top: 2px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  color: #333;
}

/* ㅡㅡㅡㅡㅡㅡㅡ가입 버튼들 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

.btn-email {
  position: absolute;
  height: 50%;
  right: 0;
  top: 27px;
  padding: 5px 10px;
  border: none;
  background-color: #ddd;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.btn-email:hover {
  background-color: #ccc;
}


.btn-idCheck {
  position: absolute;
  height: 50%;
  right: 0;
  top: 27px;
  padding: 5px 10px;
  border: none;
  background-color: #ddd;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.btn-idCheck:hover {
  background-color: #ccc;
}

.btn-address {
  position: absolute;
  height: 25%;
  right: 0;
  top: 23px;
  padding: 5px 10px;
  border: none;
  background-color: #ddd;
  border-radius: 4px;
  font-size: 12px;
  cursor: pointer;
}

.btn-address:hover {
  background-color: #ccc;
}

/* ㅡㅡㅡㅡㅡㅡㅡ가입 버튼들 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */

#zipcode {
  width: calc(100% - 80px);
}

/* 가입하기버튼 */
.signup-button-create{
  margin-top: 40px;
  width: 260px;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  background-color: var(--main-gray-color);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 25px;
}

.signup-button-create:hover {
  background-color: #bcbcbc; /* 버튼에 마우스를 올렸을 때 색상 변화 */
}

/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ로그인  ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */


.login-box {
  margin-top: 15%;
  width: 45%;
  height: 60%;
  padding: 40px;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.input-group {
  position: relative;
}

.input-group-login {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
}

input[type="text"],
input[type="password"] {
  width: 60%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  background: transparent;
  outline: none;
}

.options {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #666;
  margin-bottom: 15px;
  margin-left: 76px;
}

.options input[type="checkbox"] {
  margin-right: 5px;
}

.btn-login {
  width: 100%;
  padding: 12px;
  border: none;
  background-color: #ddd;
  border-radius: 25px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.btn-login:hover {
  background-color: #bbb;
}

.links {
  font-size: 12px;
  color: #666;
  margin-top: 15px;
  align-self: center;
}

.links a {
  color: #666;
  text-decoration: none;
  margin: 0 5px;
}

.links a:hover {
  text-decoration: underline;
}

/* 로그인버튼 */
.loginBtn{
  align-self: center;
  margin-top: 40px;
  width: 350px;
  padding: 10px 20px;
  font-size: 16px;
  color: #333;
  background-color: var(--main-gray-color);
  border: none;
  border-radius: 25px;
  cursor: pointer;
  margin-left: 25px;
}

.loginBtn:hover {
  background-color: #bcbcbc; /* 버튼에 마우스를 올렸을 때 색상 변화 */
}


/* ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ 마이페이지 메인 ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ */
.main-content {
  width: calc(100% - 20% - 20%);
  text-align: center;
  height: 35%;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.icon-grid {
  align-content: space-around;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  max-width: 600px;
  margin: 0 auto;
}

.icon-item {
  margin: 30px;
  width: 100%;
  height: 70%;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;
}

.icon-item:hover {
  transform: scale(1.05);
}

.icon-item img {
  width: 80px;
  height: auto;
  margin-bottom: 10px;
}

.icon-item span {
  display: block;
  font-size: 1.1em;
  color: #333;
  margin-top: 5px;
}
